@use 'config';

.list-reset {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.loading {
	display: none;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-inline: auto;
	border-radius: 100%;
	border: 5px solid #fff;
	border-top: 6px solid config.$accent;
	transform: translateY(-50%);
	animation: spin 1s infinite linear;
	z-index: 1;

	&--visible {
		display: block;
	}
}

.color-mode-btn {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	color: #fff;
	transition: color 0.25s ease;

	&__icon {
		max-width: 100%;
		max-height: 100%;
	}

	&:hover,
	&:focus-visible,
	&:active {
		color: #e7ce00;
	}
}

.message-box {
	position: fixed;
	top: calc(90vh - 16px);
	left: 0;
	right: 0;
	margin-inline: auto;
	display: block;
	width: fit-content;
	max-width: 90%;
	padding: 3px 8px;
	background-color: #A71734;
	z-index: 2;
	box-sizing: border-box;
	transform: translateY(100vh);
	transition: .5s transform;

	&--animate {
		transform: translateY(0);
	}

	&__text {
		text-align: center;
		color: #fff;
		margin: 0;
	}
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode='light'] .light--hidden {
	display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode='dark'] .dark--hidden {
	display: none;
}

:root[color-mode='dark'] {
	--color-page-background: #363636;
	--color-text: #fff;
	--color-input-background: #3b3b3b;
	--color-input-text: #fff;
	--color-input-border: #494949;
	--color-label: #fff;
	--color-icon: #fff;
	--color-social: #fff;
}

:root[color-mode='light'] {
	--color-page-background: #dcdcdc;
	--color-text: #000;
	--color-input-background: #fff;
	--color-input-text: #000;
	--color-input-border: #000;
	--color-label: #333;
	--color-icon: config.$accent;
	--color-social: config.$codgray;
}

body {
	background-color: var(--color-page-background);
	color: var(--color-text);
}
