# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Pages/HTML.gitlab-ci.yml

# Full project: https://gitlab.com/pages/plain-html
pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r * .public
    - rm -rf public
    - mv .public public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH


variables:
  WEB_SERVER_CONF: |
    server {
      listen 80 default_server;
      server_name localhost;

      location / {
        root /builds/$CI_PROJECT_PATH/public;
        index index.html;
        try_files $uri $uri/ /index.html;
      }
    }

web_server:
  image: nginx:alpine
  stage: deploy
  script:
    - echo "$WEB_SERVER_CONF" > default.conf
    - mv default.conf /etc/nginx/conf.d/default.conf
    - nginx -g "daemon off;"
  artifacts:
    paths:
      - public

