@use '../base/config';

.header {
	background-color: config.$codgray;
	margin-bottom: 35px;

	&__title {
		color: #fff;
		margin: 0 auto;
		font-size: 1.5em;
		justify-self: center;
		text-align: center;
	}

	&__logo {
		color: #fff;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
